# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5433  # Changed to avoid conflicts with local PostgreSQL
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=moms_milk_db

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_specific_password
SMTP_FROM='"Moms Milk" <your_email@gmail.com>'

# Node Environment
NODE_ENV=development

#FIREBASE Configuration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY=your-private-key
FIREBASE_CLIENT_EMAIL=your-client-email
